<h3>References</h3>
<ul>
  <li><a href="https://www.uscis.gov/working-in-the-united-states/permanent-workers/employment-based-immigration-fifth-preference-eb-5/about-the-eb-5-visa-classification">https://www.uscis.gov/working-in-the-united-states/permanent-workers/employment-based-immigration-fifth-preference-eb-5/about-the-eb-5-visa-classification</a></li>
  <li><a href="https://www.uscis.gov/working-in-the-united-states/temporary-workers/e-2-treaty-investors">https://www.uscis.gov/working-in-the-united-states/temporary-workers/e-2-treaty-investors</a></li>
  <li><a href="www.klaskolaw.com/hot-questions/e2-vs-eb5-investor-visas-but-different/">www.klaskolaw.com/hot-questions/e2-vs-eb5-investor-visas-but-different/</a></li>
  <li><a href="https://chicago.suntimes.com/2021/5/10/22429505/homeless-immigrants-covid-pandemic-homelessness">https://chicago.suntimes.com/2021/5/10/22429505/homeless-immigrants-covid-pandemic-homelessness</a></li>
  <li><a href="https://www.ers.usda.gov/topics/food-nutrition-assistance/food-security-in-the-us/key-statistics-graphics.aspx">https://www.ers.usda.gov/topics/food-nutrition-assistance/food-security-in-the-us/key-statistics-graphics.aspx</a></li>
  <li><a href="https://nutritionconnect.org/resource-center/food-waste-america-2020-statistics-and-facts">https://nutritionconnect.org/resource-center/food-waste-america-2020-statistics-and-facts</a></li>
  <li><a href="https://chicago.suntimes.com/2021/5/10/22429505/homeless-immigrants-covid-pandemic-homelessness">https://chicago.suntimes.com/2021/5/10/22429505/homeless-immigrants-covid-pandemic-homelessness</a></li>
  <li><a href="https://www.usa.gov/enter-us">https://www.usa.gov/enter-us </a></li>
  <li><a href="https://www.boundless.com/immigration-resources/u-s-citizenship-requirements/">https://www.boundless.com/immigration-resources/u-s-citizenship-requirements/</a></li>
  <li><a href="https://travel.state.gov/content/travel/en/passports.html">https://travel.state.gov/content/travel/en/passports.html</a></li>
  <li><a href="https://www.boundless.com/immigration-resources/average-green-card-wait-times/">https://www.boundless.com/immigration-resources/average-green-card-wait-times/</a></li>
  <li><a href="https://www.boundless.com/immigration-resources/how-long-does-it-take-to-get-citizenship-after-applying/">https://www.boundless.com/immigration-resources/how-long-does-it-take-to-get-citizenship-after-applying/</a></li>
</ul>
