<div class="container">
  <div class="row">
    <div class="col">
      <img src="./assets/the_float__2-removebg-preview.png" class="img-fluid">
    </div>
    <div class="col">
      <img src="./assets/FIXED the float! with transparent bg.png" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <video controls>
        <source src="./assets/The American Dream.mp4" type="video/mp4">
        Your browser does not support the video element. Kindly update it to latest version.
      </video >
    </div>
    <div class="col">
      <video controls>
        <source src="./assets/The American Reality.mp4" type="video/mp4">
        Your browser does not support the video element. Kindly update it to latest version.
      </video >
    </div>
  </div>
</div>
