<div class="container">
  <div class="row">
    <div class="col">
      <img src="./assets/FIXED the float! with transparent bg.png" class="img-fluid">
      <p><i>Float 1</i></p>
      <p><i><span class="title1">What </span><span class="title2">We </span><span class="title3">Have</span></i></p>
    </div>
    <div class="col">
      <img src="./assets/the_float__2-removebg-preview.png" class="img-fluid">
      <p><i>Float 2</i></p>
      <p><i><span class="title1">What </span><span class="title2">We </span><span class="title3">Need</span></i></p>
    </div>
  </div>
</div>
