<h3>Manifesto</h3>
<p>
Following the immigration reform needed, not having ample food or vacant housing should no longer be a reason to not let more people into the United States. Avoiding long wait times and long processes should not be only for the rich. This country should not be available for only those that can afford it. It should be available to people like you and me.
<br><br>
The two floats represent first, our land with immigration laws we currently have in place and who it helps which is geared to help the richer and those better off. Versus the second float of our land and the immigration laws we need to where we are helping those who need it more with a lesser wait time, while also not letting our resources go to waste like food and housing. We want to help more of those whose U.S. entry would be a necessity, not just a luxury.
</p>
