<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1><b>This Land Is Our Land, For You And Me</b></h1>
<h2 id="slogan">Vote YES <span id="yes">&#x2611;</span> For Immigration Reform</h2>
<img src="./assets/Float Banner.png">
<br><br><br>
<p>There may be more opportunity for immigrants than most people know about. The last time immigration reform was done, was in 1986. Here's what you don't know...</p>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col">
      <video controls>
        <source src="./assets/The American Reality.mp4" type="video/mp4">
        Your browser does not support the video element. Kindly update it to latest version.
      </video >
    </div>
    <div class="col">
      <video controls>
        <source src="./assets/The American Dream.mp4" type="video/mp4">
        Your browser does not support the video element. Kindly update it to latest version.
      </video >
    </div>
  </div>
  <br><br><br><br><br>
  <div class="row">
    <div class="col">
      <h2><b>American Reality</b></h2>
    </div>
    <div class="col">
      <h2><b>American Dream</b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li>The EB-5 and E-2 visas put a price tag onto entry into the United States.</li>
        <li>9.7% of all houses are vacant.</li>
        <li>40% of food is wasted.</li>
        <li>Routine processing to get a passport is 8 to 11 weeks and expedite processing is 5 to 7 weeks.</li>
        <li>It takes longer to get your green card if you're from certain countries vs others. It takes longer if you’re citizens of the Philippines and Mexico than if your family (spouse) is from the US.</li>
        <li>The average time to process citizenship applications is 14.5 months. However, the total time to naturalize is anywhere between 18.5 to 24 months.</li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li>There is no price to enter the United States</li>
        <li>There are only as many houses vacant as is needed to prepare for the next generation.</li>
        <li>Almost no food is wasted.</li>
        <li>Routine processing to get a passport is 4 to 6 weeks and expedite processing is 1 to 3 weeks.</li>
        <li>It takes the same time to get a Green Card, regardless of who you know.</li>
        <li>The average time to process citizenship applications is 1.5 months and the total time to naturalize is anywhere between 2 to 6 months.</li>
      </ul>
    </div>
  </div>
  <br><br><br><br><br><br>
  <div class="row">
    <p>Our proposal to reform immigration laws consists of reducing wait times and process for those in need and not favored for the rich, preventing waste of food and housing and use it to aid newcomer immigrants.</p>
  </div>
</div>

<br>
<div class="seperator">
  <app-media></app-media>
</div>
<br>
<div class="seperator">
  <app-notes></app-notes>
</div>
<br>
<div class="seperator">
  <app-manifesto></app-manifesto>
</div>
<br>
<div class="seperator">
  <app-references></app-references>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
